@import "_mixins-and-variables";


header {
  min-height: 80vh;
  background-image: url("/img/wallpaper1-lr.jpeg");
  background-size: cover;
  background-position: center;
  padding:1rem;
  @include for-tablet-landscape-up{
    padding: 0;
  }

  nav {
    display: inline-block;
    margin-top: 5rem;
    min-height: 3rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 1rem;

    .left {
      display: flex;
      align-items: center;

      .moto {
        margin-left: 1rem;

        text-transform: uppercase;
        @include for-tablet-portrait-up{
          font-size: 1.6rem;
        }
      }
    }
  }

  .logo {
    width: 60px;
    height: 60px;
    background: $color-gw-green;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .keyword {
    width: 100%;
    display: flex;
    margin-top: 20vh;
    justify-content: center;
    color: white;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.52);
    font-size: 3rem;
  }
}

.contact {
  margin-top: 4rem;
  font-weight: 500;
  .left{
    padding: 1rem;
    @include for-tablet-landscape-up{
      padding: 0;
    }
    h3 {
      margin-bottom: 0;
      margin-top: 2rem;
      text-transform: uppercase;
    }

    p {
      margin-top: 0;
    }
  }



  .right {
    justify-content: center;
    display: flex;

    align-items: center;
    flex: 1;
    @include for-tablet-landscape-up {
      justify-content: right;
    }

    .logo {
      margin:3rem 0;
      width: 150px;
      height: 150px;
      background: $color-gw-green;
      border-radius: 50%;
      flex-shrink: 0;
      @include for-tablet-portrait-up{
        width: 300px;
        height: 300px;
      }
    }
  }

}

.columns {

  display: flex;
  flex-direction: column;
  @include for-tablet-landscape-up {
    flex-direction: row;
  }

}

.content {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;

}


body {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
  color: #464646;
}

h1 {
  text-transform: uppercase;

  @include for-tablet-portrait-up {
    font-size: 3rem;
    max-width: 400px;
  }
}


a {
  color: #464646;
  text-decoration: none;
}


